{
  "img-01": "https://manuel-weiss-website.s3.eu-central-1.amazonaws.com/media/tempus-demo-pm/img-01.jpg?X-Amz-...",
  "vid-01": "https://manuel-weiss-website.s3.eu-central-1.amazonaws.com/media/tempus-demo-pm/vid-01.mp4?X-Amz-..."
}
